# Игнорировать стандартные артефакты Go

# Исполняемые файлы, созданные командой go build
# Игнорировать скомпилированные бинарные файлы, созданные в корне проекта
# Включает и наш файл 'antiprefix' (если он не перемещен в $GOBIN)
# * - это шаблон для Linux/macOS
# *.exe - это шаблон для Windows
!go.mod
!go.sum
!*.go

# Директории, создаваемые Go
# Каталоги, в которые устанавливаются бинарники Go (обычно при go install)
bin/
pkg/

# Каталог vendoring (используется для локального хранения зависимостей)
vendor/

# Стандартные файлы Go
# Файлы результатов тестов
*.test
*.out

# Игнорировать файлы редакторов и IDE
# Файлы GoLand/IntelliJ
.idea/

# Файлы VS Code
.vscode/

# Файлы Vim
*~

# Файлы macOS
.DS_Store